* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    color: rgb(71, 207, 248);
}
#wrapper {
    margin: auto;
    width: 970px;
    height: fit-content;
    background-color: navy;

}
#header {
    background-color: red;
    margin: auto;
    border-radius: 25px; /* I searched Google for "div header round corners css" and this is where I found the solution: https://www.w3schools.com/css/css3_borders.asp */
    padding: 20px;
    width: 900px;
    height: 50px;
}
#navigation {
    background-color: rgb(86, 132, 153);
        color: rgb(71, 207, 248);
    display: inline-block;
    vertical-align: top;
    border-radius: 25px;
    margin: 20px 15px;
    padding: 25px;
    width: 150px;
    height: 300px;
}
#main_content {
    background-color: black;
    color: white;
    border-radius: 25px;
    display: inline-block;
    width: 700px;
    height: fit-content;
    margin: 20px 5px;
    padding: 10px 10px;
    text-align: justify;
}
.subcontent1 {
    background-color: pink;
    border-radius: 25px;
    display: inline-block;
    width: 680px;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 200px;
}
.subcontent2 {
    background-color: blueviolet;
    border-radius: 25px;
    display: inline-block;
    width: 680px;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 500px;
}
#footer {
    background-color: grey;
    border-radius: 25px;
    display: inline-block;
    width: 900px;
    padding: 20px;
    margin: auto;
    margin-left: 10px;
    margin-bottom: 20px;
    height: 40px;
}
.mainUL {
    padding: 15px 10px;
}
.mainUL > li {
    padding: 5px;
}
a {
    color: rgb(71, 207, 248);
    padding: 0 0 10px 0;
}
.indent {
    text-indent: 16px;
}
span {
    color: rgb(17, 105, 236);
}