/* margin, padding, display, vertical-align, width, and height */
/* * {
    outline: 2px solid red;
} */
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aliceblue;
}
h1, h2 {
    display: inline-block;
    font-family: 'Architects Daughter', cursive;
}
h1 {
    width: 500px;
    margin: 0 2px;
    padding-left: 5px;
}
h2 {
    width: 406px;
    padding-left: 81px;
}
div.wrapper {
    background-color: black;
    margin: auto;
    width: 1000px;
    min-height: 980px;
}
div.header {
    background-color: aliceblue;
    display: inline-block;
}
div.pic {
    background: url('../images/me.JPG') no-repeat;
    background-size: 415px;
    display: inline-block;
    width: 400px;
    min-height: 400px;
    margin: 20px 10px 20px 30px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px white;
    vertical-align: top;
}
div.about {
    display: inline-block;
    width: 500px;
    min-height: 405px;
    margin: 20px 2px 10px 40px;
    background-color: aliceblue;
    box-shadow: 0px 0px 10px white;
}
div.projects {
    display: inline-block;
}
div.box1, div.box2, div.box3 {
    display: inline-block;
    width: 300px;
    background-color:aliceblue;
    min-height: 600px;
    padding: 3px;
    text-align: justify;
    margin-left: 20px;
    vertical-align: top;
    font-family: 'Montserrat', sans-serif;
    font-style: 10px;

}
div.footer {
    width: 1000px;
    background-color: aliceblue;
    margin-top: 20px;
    min-height: 200px;
}
span {
    color: cornflowerblue;
}
p {
    padding: 20px;
    font-size: 20px;
}
div.me, div.bx1Top, div.bx2Top, div.bx3Top {
    background-color: rgb(136, 136, 136);
    color: aliceblue;
    font-size: 25px;
    padding-left: 3px;
    font-family: 'Architects Daughter', cursive;
}
img {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 298px;
}
div.footer {
    text-align: center;
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
}
img.icons {
    width: 20px;
    padding-right: 3px;
}
div.bx1bot {
    margin-top: 80px;
    background-color: rgb(136, 136, 136);
    color: aliceblue;
    font-size: 25px;
    padding-left: 3px;
    font-family: 'Architects Daughter', cursive;
}
div.bx2bot {
    margin-top: 45px;
    background-color: rgb(136, 136, 136);
    color: aliceblue;
    font-size: 25px;
    padding-left: 3px;
    font-family: 'Architects Daughter', cursive;
}
div.bx3bot {
    margin-top: 10px;
    background-color: rgb(136, 136, 136);
    color: aliceblue;
    font-size: 25px;
    padding-left: 3px;
    font-family: 'Architects Daughter', cursive;
}
img.icons2 {
    width: 35px;
    padding: 2px 2px;
    border-radius: 50%;
}