* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
.row {
    height: 20px;
}
div#score {
    border: 1px solid white;
    width: 25px;
    height: 25px;
    color: white;
    padding: 7px;
    text-align: center;
    position: absolute;
    margin: 20px 625px;
}
div.empty {
    background-color: black;
}
.container {
    width: 800px;
}
div.row div {
    width: 20px;
    height: 20px;
    display: inline-block;
}
div.brick {
    background-color: white;
}
div.coin {
    background: url(coin_ani.gif) no-repeat center;
}
#pacman {
    background: url(pacman.gif);
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}
div.a_ghost {
    background: url(a_ghost.gif);
    background-size: cover;
    width: 20px;
    height: 20px;
}
div.b_ghost {
    background: url(b_ghost.gif);
    background-size: cover;
    width: 20px;
    height: 20px;
}
div.c_ghost {
    background: url(c_ghost.gif);
    background-size: cover;
    width: 20px;
    height: 20px;
}
div.d_ghost {
    background: url(d_ghost.gif);
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
}