* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;

}
div.empty {
    background-color: black;
}
.wrapper {
    margin: 0 auto;
    width: 800px;
    padding-left: 50px;
    padding-top: 100px;
}
div.row div {
    width: 20px;
    height: 20px;
    border: 1px solid black;
    display: inline-block;
}
div.brick {
    background-color: white;
}
div.coin {
    background: url(coin_ani.gif) no-repeat center;
}
div.pacman {
    background: url(pacman.gif);
    background-size: cover;
}
div.a_ghost {
    background: url(a_ghost.gif);
    background-size: cover;
}
div.b_ghost {
    background: url(b_ghost.gif);
    background-size: cover;
}
div.c_ghost {
    background: url(c_ghost.gif);
    background-size: cover;
}
div.d_ghost {
    background: url(d_ghost.gif);
    background-size: cover;
}