body {
    background-color: #FFE4B5;
}
h1 {
    margin-bottom: 15px;
    text-align: center;
}
* {
  box-sizing: border-box;
}
 span.chicken {
     position: absolute;
     top: 0;
     right: 0;
     float: right;
     width: auto;
     height: 30px;
     padding: 5px;
     border: 1px solid black;
     background-color: coral;
    }
 span.beef { 
     position: absolute;
     top: 0;
     right: 0;
     float: right;
     width: auto;
     height: 30px;
     padding: 5px;
     border: 1px solid black;
     background-color: darkred;
     color: azure;
    }
 span.sushi { 
     position: absolute;
     top: 0;
     right: 0;
     float: right;
     width: auto;
     height: 30px;
     padding: 5px;
     border: 1px solid black;
     background-color: moccasin;
     color: chocolate; 
    }
div.chick-content {
    display: block;
    margin: 25px 0 25px 1px;
}
div.beef-content {
    display: block;
    margin: 25px 0 25px 1px;
}
div.sushi-content {
    display: block;
    margin: 25px 0 25px 1px;
}

.row {
  width: 100%;
}

/********** Desktop Browsers **********/
@media (min-width: 992px) {
  .lgbox, .mdbox, .smbox {
      position: relative;
      padding: 5px;
      float: left;
      border: 1px solid black;
      text-align: justify;
    }
  .lgbox, .mdbox, .smbox {
    width: 33.33%;
  }
}

/********** Tablets **********/
@media (min-width: 768px) and (max-width: 991px) {
  .lgbox, .mdbox, .smbox { 
      position: absolute;
      margin-left: 10px;
      float: left;
      padding: 5px;
      border: 1px solid black;
      text-align: justify;
  }
    .lgbox, .mdbox {
        width: 50%;
  }
}
/********** Mobile Devices **********/
@media (max-width: 767px) {
  .lgbox, .mdbox, .smbox {
      position: inherit;
      margin-left: 10px;
      float: left;
      padding: 5px;
      border: 1px solid black;
      text-align: justify;
    }
  .lgbox, .mdbox, .smbox {
    width: 100%;
  }
}


