h2 {
    text-align: center;
}
p {
    border: 1px solid black;
    background-color: white;
    padding:10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    width: 80%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
    font-family: Helvetica;
    color: black;
}
.row {
    margin-bottom: 15px;
}
.row > div {
    border: 2px solid black;
    background-color: skyblue;
}

/**** @Media Starts -- Desktop ****/
@media (min-width: 1200px){
        /* Header */
    .navbar-brand {
        padding-top: 10px;
        font-size: 2vw;
        height: 80px;
    }
    /* Name */
    .navbar-brand h1 {
        color: black;
        padding-top: 2px;
        font-size: 3vw; /* 1vw = 1% of viewport width */
    }
    .p {
        width: 100%;
    }
}
/**** Tablets ****/
/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
        /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    /* Name */
    .navbar-brand h1 {
        color: black;
        padding-top: 2px;
        font-size: 3vw; /* 1vw = 1% of viewport width */
    }


}

/**** Mobile ****/
@media (min-width: 768px) and (max-width: 991px){
        /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    /* Name */
    .navbar-brand h1 {
        color: black;
        padding-top: 2px;
        font-size: 3vw; /* 1vw = 1% of viewport width */
    }
}


/**** Small Mobile ****/
@media (max-width: 767px){
    /* Header */
    .navbar-brand {
        padding-top: 10px;
        height: 80px;
    }
    /* Name */
    .navbar-brand h1 {
        color: black;
        padding-top: 2px;
        font-size: 3vw; /* 1vw = 1% of viewport width */
    }
}
/* Collapsed nav menu glyph */
#collapsable-nav a {
    font-size: 1.4em;

}
#collapsable-nav a span {
    font-size: 1em;
    margin-right: 5px;
}