h1 {
    color: red;
    font-size: 70px;
}
h2 {
    background-color: purple;
    color: white;
}
p{
    color: blue;
}
/* Comment code:
        <!-- 
            #42f4df
            #f77002
            #13a351
            rgb(206, 105, 72)
            rgb(229, 0, 255)
            hsl(264, 100%, 30%)
         -->
*/
a {
    color: red;
}