<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ExtraYAS Baby</title>

    <!--CSS -->
    {% load static %}
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/yas-main.css' %}" rel="stylesheet">
</head>
<!-- Navigation -->
<div class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top"></nav>
    <div class="logo-box">
        <a href="yas/"><img src="{% static 'img/white_logo.png' %}" class="logo" alt="ExtraYAS Logo"></a>
    </div>
</div>
{% include 'yas_store/header.html' %}
<br>
<!-- Page Content -->
<div class="container">
        <!-- Features Section -->
        <div class="row">
            <div class="col-lg-6">
                <h2>Featuring the LeBron 7</h2>
                <p>It's the seventh signature shoe in the legendary series, scaled down for small 'Brons.</p>
                <ul>
                    <li>White | Metallic</li>
                    <li>Gold | White</li>
                    <li>Red | Black</li>
                    <li>Hot Red | Metallic Silver</li>
                </ul>
                <p>When you’re with us, you’re part of our growing team. A team that runs
                together, trains together and lifts each other up with the best we have to
                offer. Explore ways to get after it as a Member below.</p>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid rounded" src="{% static 'img/lebron-7.jpg' %}" alt="">
            </div>
        </div>
    <h1 class="my-4" style="text-align: center;">ExtraYAS Brands</h1>
    <!-- Portfolio Section -->
    <div class="row">
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="yas/"><img class="card-img-top" src="{% static 'img/nike6.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="yas/">New Releases</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                    euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="yas/"><img class="card-img-top" src="{% static 'img/nike5.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="yas/">Men</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                        euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="yas/"><img class="card-img-top" src="{% static 'img/nike3.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="yas/">Women</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                    euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="yas/"><img class="card-img-top" src="{% static 'img/nike4.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="yas/">Kids</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                        euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="yas/"><img class="card-img-top" src="{% static 'img/nike2.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="yas/">Customize</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                        euismod odio, gravida pellentesque urna varius vitae.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6 portfolio-item">
            <div class="card h-100">
                <a href="yas/"><img class="card-img-top" src="{% static 'img/nike1.jpg' %}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="yas/">Sale</a>
                    </h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra
                    euismod odio, gravida pellentesque urna varius vitae..</p>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->



    <hr>

</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ExtraYAS 2020</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>