* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
}
h1 {
    text-align: center;
    color: white;
    
}
.container {
    margin: 0 auto;
    width: 1100px;
    background-color: black;
}
table {
    margin: 20px 20px 20px 20px;
}
td {
    width: 100px;
    height: 50px;
    text-align: center;
}
.blue {
    background-color: #689BFF;
    border: 1px solid black;
}
.yellow {
    background-color: #FECB00;
    border: 1px solid black;
}
.pink {
    background-color: #FD9A98;
    border: 1px solid black;
}
.green {
    background-color: #1FCA21;
    border: 1px solid black;
}