h1 {
    font-size: 60px;
}
#earth-h1 {
    font-size: 60px;
    color: #2a8442;
}
#earth-h3 {
    color: #2a8442;    
}

#mars-h1 {
    font-size: 60px;
    color: #d33d1f;
}
#mars-h3 {
    color: #d33d1f;    
}

div.picture {
  margin: 5px;
  border: 1px solid #ccc;
  float: right;
  width: 400px;
}

div:hover {
  border: 1px solid #777;
}

div img {
  width: 100%;
  height: auto;
}

div desc {
    width: 100%;
    padding: 10px 10px 10px 10px;
    text-align: center;
}